In [ ]:
a=10
b=3
c=a+b
print(c)

13

In [ ]:
a=54999
b=2999
result=a+b
#addition of {} and {} is {}
print("Addition of {} and {} is {}".format(a,b,result))
print("addition of {} and {} is {}".format(result,a,b))

Addition of 54999 and 2999 is 57998
addition of 57998 and 54999 is 2999

In [ ]:
#addition of 54999 and 2999 is 57998
a=54999
b=2999
result=a+b
print("addition of",a,"and",b,"is",result)

addition of 54999 and 2999 is 57998

In [ ]:
a=54999
b=2999
result=a+b
print("addition of "+str(a)+"and"+str(b))

addition of 54999and2999

In [ ]:
name=input()
age =input()

In [ ]:
a=54999
b=2999
result=a+b
#addition of {} and {} is {}
print("Addition of {} and {} is {}".format(a,b,result))
print("addition of {} and {} is {}".format(result,a,b))

Addition of 54999 and 2999 is 57998
addition of 57998 and 54999 is 2999

In [ ]:
age= int(input("Enter your age: "))
if age <= 18:
    print("you are eligible to vote, ")

In [ ]:
x=10
If x = 10:
    print("match found, ")

In [ ]:
students = [" sara ", " neha ", " kanak ",]
for student in students:
  print("enrolled student:", student)

enrolled student:  sara
enrolled student:  neha
enrolled student:  kanak

In [ ]:
marks = [30,50,60,90]
for score in marks:
  print("score:", score)

score: 30
score: 50
score: 60
score: 90

In [ ]:
student_name = [" arun ", " sara ", " mini "]
for attend_class in student_name:
  print("attend class:", attend_class)

attend class:  arun
attend class:  sara
attend class:  mini

In [ ]:
for i in range(5001,5010):
    print(i)

5001
5002
5003
5004
5005
5006
5007
5008
5009

In [ ]:
for macbook in range(101,120):
  print(macbook)

101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [ ]:
for box in range(200, 280, 10):
  print(box)

200
210
220
230
240
250
260
270

In [ ]:
b = 12
b = b+4
b

16

In [ ]:
b = 10
b +=4
b

14

In [ ]:
b = 15
b *= 4
b

60

In [ ]:
#membership operator
a = "hello word"
print("hello_word in a")
print("hello_word not in a")

hello_word in a
hello_word not in a

In [ ]:
a = 2
b = a
a is b

True

In [ ]:
bin(3)

'0b11'

In [ ]:
bin(9)

'0b1001'

In [ ]:
bin(10)

'0b1010'

In [ ]:
a ="2"
type(a)

str

In [ ]:
int(a)

2

In [ ]:
float(a)

2.0

In [ ]:
a ="ajay"
b ="kumar"
c = a+b
print(c)

ajaykumar

In [ ]:
"pw" +"skills"

'pwskills'

In [ ]:
num = 9
if num % 2 == 0:
  print("even")
else:
  print("odd")

odd

In [ ]:
from os import GRND_RANDOM
score = 90
if score >=70:
  print(GRND_RANDOM)

In [ ]:
num_list =[1,2,3,4,5]
print(len(num_list))

5

In [ ]:
n = 7
i = 1
while i < n:
  print(i)
  i = i+1
  if i ==3:
    continue

1
2
3
4
5
6

In [ ]:
for i in "shiksha_nagar":
  print(i)

s
h
i
k
s
h
a
_
n
a
g
a
r

In [ ]:
for i in ["shiksha_nagar", "pwskills", "ajay", "priya"]:
  print(i)

shiksha_nagar
pwskills
ajay
priya

In [ ]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
for i in range(3):
  for j in range (i+1):
    print(" * ", end ="")
    print()

 *
 *
 *
 *
 *
 *

In [ ]:
num_list =[1,2,3,4,5]
print(len(num_list))

5

In [ ]:
x = 5
y = 2
print(x**y)

25

In [ ]:
text ="python"
print(text[::-1])

nohtyp

In [ ]:
my_truple =(1,2,3)
my_truple[0] =10
print(my_truple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a =5
b ="5"
print(a+int(b))

10

In [ ]:
numbers =[10,20,30,40]
numbers.append (50)
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
x =[1,2,3]
x =y y.append(4)
print(x)

SyntaxError: invalid syntax (ipython-input-617487612.py, line 2)

In [ ]:
a =[1,2,3]
b =a.copy()
b.append(4)
print(a,b)

[1, 2, 3] [1, 2, 3, 4]

In [ ]:
def add(a,b=5):
  return a+b
print(add(3))

8

In [ ]:
numbers ={1,2,3,3,2,1}
print(len(numbers))

3

In [ ]:
numbers ={1,2,3,3,2,1}
print(len(numbers))

3

In [ ]:
x =[1,2,3,4,5]
y =x[1:4]
print(y)

[2, 3, 4]

In [ ]:
#use case of set
a ={"banna" ,"apple","apple"}
a

{'apple', 'banna'}

In Python, both functions and methods are blocks of reusable code. The key difference lies in how they are defined and called:

Functions: Are defined independently and can be called directly by their name. They don't belong to any specific object or class.
Methods: Are defined within a class and are associated with objects of that class. They are called on an object using dot notation (e.g., object.method()). Methods can access and modify the object's attributes.

arameters are the names listed in the function definition. They are placeholders for the values you will pass into the function when you call it.

Arguments are the actual values you pass into the function when you call it. These values are assigned to the parameters defined in the function.

Here's a simple example:

def greet(name):
  # 'name' is a parameter
  print(f"Hello, {name}!")

greet("Alice")  # "Alice" is an argument
In this example, name is the parameter in the greet function definition. When we call greet("Alice"), the string "Alice" is the argument that gets passed to the function and assigned to the name parameter.

You can have multiple parameters and arguments, and they are matched up in order by default. You can also use keyword arguments to pass arguments by name, which can make your code more readable and allows you to pass arguments in a different order.

Does that explanation make sense? Would you like to see more examples or explore different types of arguments?