6. What is a string in Python, and how is it different from a list?

Ans:- string in Python - A string in Python is a sequence of characters, used to represent text. You create a string by enclosing a sequence of characters in single, double, or triple quotes.
example -

In [2]:

          str = ( 'Hello, world!')
          print(str)

Hello, world!

defferent string and list -

feature             string             list
mutability          immutable          mutable
content             (tex)              int,float

2. Explain the difference between mutable and immutable data types with examples

Ans:-**Mutable data type -** Mutable data types are objects whose value can be changed in place after creation.
This means you can add, remove, or change elements without creating a new object in memory.
  example-

In [6]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]